# Web UI
streamlit

# LangChain (체인 관리)
langchain
langchain-community
langchain_huggingface
accelerate

# Hugging Face (LLM + Embedding)
transformers
sentence-transformers
torch

# Vector DB
faiss-cpu